footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17rem;
    background-color: black;

}

.footer-links {
    display: flex;
    gap: 3rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footerc__socials {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem
}

.footerc__socials a {
    color: #fff;
    font-size: 2.3rem
}

.footerc__socials a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .2s ease-in-out
}

